@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Shadows+Into+Light&family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    position: relative;
    margin: auto;
    min-width: 320px;
    max-width: 100%;
}


/* MENU  */
header{
    background-color: white;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.096);
    height: 123px;
}

.logo{
    position: absolute;
    margin-left: 20%;
}

.menu-desktop{
    position: absolute;
    left: 45%;
}

.menu-desktop ul li{
    display: inline-block;
    padding: 50px;
}

.menu-desktop ul li a{
    color: black;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: 19px;
    transition: .3s;
}

.menu-desktop ul li a:hover{
    background-color: #ee6306da;
    color: white;
    padding: 35px;
}

.menu-mobile ul li a:hover{
    color: rgba(0, 0, 0, 0.596);
}

.menu-mobile{
    display: none;
    text-align: right;
    
}    

.menu-mobile i{
    cursor: pointer;
    position: relative;
    right: 0;
    padding: 5px;
    margin-right: 30px;
    margin-top: 30px;
    color: rgba(0, 0, 0, 0.767);
    font-size: 30px;
    transition: .2s;
    
}

.menu-mobile i:hover{
    background-color: rgba(0, 0, 0, 0.185);
}
.menu-mobile ul{
    opacity: 0;
    transition: 1s;
    list-style: none;
    background-color:  #f17019;
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    top: 105px;
    text-align: center;
    z-index: 10;
    padding: 50px;
}

.show-menu{
    opacity: 1 !important;
}


.menu-mobile ul li a{
    display: block;
    color: white;
    text-decoration: none;
    font-size: 21px;
    letter-spacing: 4px;
    font-family: 'Roboto', sans-serif ;
    line-height: 100px;
    transition: .3s;
}

@media (max-width:1393px){
    .menu-mobile{display: block;}
    /*.menu-mobile ul{display: none;}*/
    .menu-desktop{
        display: none;
    }
}
/* FIM MENU */






/* banner */
.banner{
    position: relative;
    margin-top: 10px;
    background: url(imagens/banner4.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
    text-align: center;
}


.banner h1{
    position: relative;
    margin:auto;
    letter-spacing: 8px;
    font-weight: lighter;
    top: 30%;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 48px; 
    text-transform: uppercase;
 
}

@media (max-width:800px){
    .banner h1, h2{
        font-size: 35px;
    }

}

.banner h2{
    color: #DDCAC9;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    letter-spacing: 2px;
    font-size: 24px;
    text-transform: uppercase;
    top:30%
}

@media (max-width: 870px){
    .banner h1{font-size: 3.2em;}
}


@media (max-width: 650px){
    .banner h1{font-size: 2.8em;}
}



.banner a{
    display: block;
    margin: auto;
    margin-top: 310px;
    width: 220px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    letter-spacing: 3px;
    font-size: 1.8vh; 
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #ee6306;
    text-transform: uppercase;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.644);
}


.banner a:hover{
    color: white;
    background-color: #ff9100c4;
    transition: background .4s;
}

.banner h1:hover{
    text-decoration: underline;
}

.banner h2:hover{
    text-decoration: underline;
}


/* FIM BANNER */



/*RODAPÉ*/
.rodape{
    display: flex;
    padding: 75px;
    background-color: #f17019;
    margin: 0;
  }
  
  
  .rodape li{
      margin: auto;
      list-style: none;
  }
  
  .rodape h3 a{
      color: white;
  }
  
  .rodape a{
      display: block;
      font-size: 18px;
      text-decoration: none;
      color: rgb(224, 224, 224);
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      line-height: 42px;
  }
  
  .rodape a:hover{
      color: black;
      transition: .2s;
  }
  
  
  #textorodape{
      color: rgb(56, 56, 56);
      font-size: 17px;
      padding: 16px;
      text-align: center;
      background-color: #E89502;
  }
  
  /*FIM RODAPÉ*/
  




